/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: blue;
}


#title  {
    font-family: arial;
    font-size: 30px;
    color: purple
		}
	
/*----------------------------------------------------------------------------------------------------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
/* ----------------------FOOTER------------------------------------------------ */
/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/