/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color:black;
    padding: 20px;
}

#title  {
    font-family: arial;
    font-size: 30px;
    color: green;
    text-align: center;
}

p {
  text-align: center;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}
fieldset {
    margin-top: 20px;
    margin-bottom: 30px;
}
fieldset #topic {
    text-align: center;
}

fieldset #time {
  text-align: justify;
}

legend {
  text-align: left;
}

label {
    margin: .4rem;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
  
abbr {
  color: red;
}

button {
  background-color: green;
  color: white;
  padding: 10px;

}


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/